services:
  frontend:
    # extends:
    #   file: ${PATH_BUILD_FRONTEND}/docker-compose.yml
    #   service: frontend"
    # build:
    #   context: "${PATH_BUILD_FRONTEND}"
    #   target: development
    image: "${PATH_IMAGE_FRONTEND}"
    environment:
      LISTEN_PORT: 3000
      LISTEN_ADDRESS: '0.0.0.0'
    ports:
      - "8000:3000"

  user-management:
    extends:
      file: ${PATH_BUILD_USER_MANAGEMENT}/docker-compose.yml
      service: user-management
    build:
      context: "${PATH_BUILD_USER_MANAGEMENT}"
      target: development
    image: "${PATH_IMAGE_USER_MANAGEMENT}"
    environment:
      LISTEN_PORT: 3001
      LISTEN_ADDRESS: '0.0.0.0'
    ports:
      - "8001:3001"
